.additional-catalog {
  position: relative;
  margin-bottom: 39px;
}

.additional-catalog__wrapper-device {
  padding-top: 24px;
}

.additional-catalog__title {
  width: 268px;
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: -20px;
  padding-left: 20px;

  @include font-group2($font-24, $line-24, $family-full, $spacing-1);
  color: $basic-black;

  background-color: $basic-white;
}

.additional-catalog-line {
  position: absolute;
  z-index: 1;
  top: 39px;

  width: 100%;
  height: 2px;

  background-color: $basic-color;
}

@media (min-width: $tablet-width) {
  .additional-catalog {
    grid-column: span 4;

    margin-bottom: 69px;
  }

  .additional-catalog__wrapper-device {
    grid-column: span 4;

    padding-top: 18px;
  }

  .additional-catalog__title {
    width: 410px;
    margin-bottom: 80px;
    margin-left: 0;
    padding-left: 40px;

    @include font-group1($font-36, $line-36);
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog {
    grid-column: span 1;

    margin-bottom: 0;
  }

  .additional-catalog__wrapper-device {
    width: 896px;
  }

  .additional-catalog__title {
    margin-left: -40px;
  }
}
