.additional-catalog {
  margin-bottom: 39px;

  outline: 3px solid navy;
}

.additional-catalog__title {
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .additional-catalog {
    grid-column: span 4;

    margin-bottom: 69px;
  }

  .additional-catalog__wrapper-device {
    grid-column: span 4;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog {
    grid-column: span 1;

    margin-bottom: 0;
  }

  .additional-catalog__wrapper-device {
    width: 896px;
  }
}
