.catalog-promo {
  position: relative;

  height: 289px;
  background-image: url("../img/mobile-catalog-promo-background.jpg");
  background-repeat: no-repeat;
  background-color: $basic-color;
  outline: 3px solid brown;
}

.catalog-promo__text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: $basic-white;
}

@media (min-width: $tablet-width) {
  .catalog-promo {
    grid-column: span 4;
  }

  .catalog-promo__wrapper-device {
    grid-column: span 4;
  }
}

@media (min-width: $desktop-width) {
  .catalog-promo {
    grid-column: span 1;

    width: 245px;
  }
}
