.container-inner {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  max-width: 707px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: $tablet-width) {
  .container-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
    max-width: 1219px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .container-inner {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
