.contacts__items-title {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: $special-black;
}

.contacts__items-street,
.contacts__items-sity {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}
