.container {
  position: relative;

  display: grid;
  grid-template-columns: 280px;
  /*width: 280px;*/
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .container {
    /*width: 708px;*/
    grid-template-columns: 708px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    /*width: 1220px;*/
    grid-template-columns: 1220px;
  }
}
