.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.contacts__items-title {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: $special-black;
}

.contacts__items-street,
.contacts__items-sity {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

@media (min-width: $tablet-width) {
  .contacts {
    height: 202px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 570px;
    height: 201px;

    background-color: $basic-white;
  }
}
