.example-item {
  position: relative;
}

.example-item__number {
  justify-content: space-between;
  width: 124px;
  height: 57px;
  padding-top: 13px;

  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  color: $basic-black;
  text-transform: uppercase;

  border: 1px solid $light-darken-color;
  border-radius: 3px;
}

.example-item__text {
  position: absolute;
  top: 48px;
  left: 20px;

  width: 80px;
  height: 19px;

  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  text-transform: lowercase;
  color: $special-color;

  background-color: $exception-color;
}

@media (min-width: $tablet-width) {
  .example-item__number {
    width: 162px;
    height: 77px;
    padding-top: 15px;

    font-size: 30px;
    line-height: 37px;
  }

  .example-item__text {
    top: 68px;

    width: 114px;
    height: 19px;
    left: 24px;

    font-size: 14px;
    line-height: 14px;

    background-color: $basic-white;
  }

  .example-item__text--second {
    left: 9px;
    width: 144px;
  }
}

@media (min-width: $desktop-width) {
  .example-item__text {
    background-color: $light-lighten-color;
  }
}
