.example-item {
  position: relative;
}

.example-item__number {
  justify-content: space-between;
  width: 124px;
  height: 57px;
  padding-top: 13px;

  @include font-group4($font-24, $line-24, $family-full, $transform-up);
  color: $basic-black;

  border: 1px solid $light-darken-color;
  border-radius: 3px;
}

.example-item__text {
  position: absolute;
  top: 47px;
  left: 20px;

  width: 82px;
  height: 19px;

  @include font-group4($font-12, $line-12, $family-once, $transform-low);
  color: $special-color;

  background-color: $exception-color;
}

@media (min-width: $tablet-width) {
  .example-item__number {
    width: 162px;
    height: 72px;
    padding-top: 14px;

    @include font-group1($font-30, $line-37);
  }

  .example-item__text {
    top: 63px;

    width: 114px;
    height: 19px;
    left: 24px;

    @include font-group1($font-14, $line-14);

    background-color: $basic-white;
  }

  .example-item__text--second {
    left: 9px;
    width: 144px;
  }
}

@media (min-width: $desktop-width) {
  .example-item__text {
    top: 63px;

    background-color: $light-lighten-color;
  }
}
