.feature-item {
  align-items: center;
}

.feature-item__svg {
  margin-right: 20px;
}

.feature-item__text {
  width: auto;
  margin: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

@media (min-width: $tablet-width) {
  .feature-item {
    position: relative;
    flex-direction: column;
    align-items: flex-start;

    height: 235px;
    margin-bottom: 0;
  }

  .feature-item__svg {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  .feature-item__text {
    font-size: 16px;
    line-height: 24px;
  }

  .feature-item:first-child {
    margin-right: 95px;
    margin-bottom: 82px;

    background-image: url("../img/features-block1.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 32px;
  }

  .feature-item:nth-child(2) {
    margin-right: 74px;

    background-image: url("../img/features-block2.svg");
    background-repeat: no-repeat;
    background-position: top -2px right 14px;
  }

  .feature-item:nth-child(3) {
    height: 225px;
    margin-right: 78px;
    margin-bottom: 60px;

    background-image: url("../img/features-block3.svg");
    background-repeat: no-repeat;
    background-position: top -2px right 10px;
  }

  .feature-item:nth-child(4) {
    height: 225px;
    margin-right: 74px;

    background-image: url("../img/features-block4.svg");
    background-repeat: no-repeat;
    background-position: top -2px right 4px;
  }
}

@media (min-width: $desktop-width) {
  .feature-item:first-child {
    margin-right: 0;
    margin-bottom: 0;

    background-position: top 0 right 46px;
  }

  .feature-item:nth-child(2) {
    margin-right: 0;
    background-position: top -2px right 11px;
  }

  .feature-item:nth-child(3) {
    margin-right: 0;
    margin-bottom: 0;
  }

  .feature-item:nth-child(4) {
    margin-right: 0;
    background-position: top -2px right 1px;
  }

  .feature-item__text {
    width: 245px;
  }
}
