.feature-item__svg {
  margin-right: 20px;
}

.feature-item__text {
  width: auto;
  margin: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

@media (min-width: $tablet-width) {
  .feature-item__svg {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  .feature-item__text {
    font-size: 16px;
    line-height: 24px;
  }
}
