.form-text {
  width: 226px;
  margin-top: 0;
  margin-bottom: 39px;

  @include font-group4($font-14, $line-18, $family-full, $transform-up);
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .form-text {
    width: 323px;
    margin-bottom: 66px;

    @include font-group1($font-20, $line-30);
  }
}
