.list-pet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 163px;
  margin-bottom: 23px;
}

.list-pet__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-pet__item-input {
  height: 45px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;

  border: 1px solid $input-border-color;
}

.list-pet__item-input--first {
  width: 229px;
}

.list-pet__item-input--second {
  width: 204px;
}

.list-pet__item-input--third {
  width: 172px;
}

@media (min-width: $tablet-width) {
  .list-pet {
    height: 196px;
    margin-bottom: 72px;
    padding-bottom: 0;
  }

  .list-pet__item-input {
    height: 52px;
    padding-left: 17px;
    margin: 0;
  }

  .list-pet__item-input--first {
    width: 567px;
  }

  .list-pet__item-input--second {
    width: 536px;
  }

  .list-pet__item-input--third {
    width: 497px;
  }
}

@media (min-width: $desktop-width) {
  .list-pet {
    width: 569px;
    margin-bottom: 0;
  }

  .list-pet__item-input {
    padding-left: 19px;
  }

  .list-pet__item-input--first {
    width: 506px;
  }

  .list-pet__item-input--second {
    width: 475px;
  }

  .list-pet__item-input--third {
    width: 436px;
    padding-left: 17px;
  }
}
