.list-programm {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 115px;

  padding: 0;
}

.list-programm__item {
  position: relative;
  display: flex;
  align-items: center;

  height: 30px;
}

.list-programm__item-input {
  margin: 0;
}

.list-programm__item-label {
  position: relative;

  display: inline-block;
  padding-left: 45px;

  @include font-group4($font-16, $line-18, $family-full, $transform-up);
  color: $special-darken-color;

  user-select: none;
  cursor: pointer;
}

.list-programm__item-label::before {
  position: absolute;
  top: -7px;
  left: 0;

  display: inline-block;
  width: 30px;
  height: 31px;

  background-image: url("../img/mobile-form-radio.svg");
  background-repeat: no-repeat;
  content: "";
}

.list-programm__item-input:checked + .list-programm__item-label::before {
  background-image: url("../img/mobile-form-radio-active.svg");
}

.list-programm__item-input:disabled + .list-programm__item-label {
  color: rgba(34, 34, 34, 0.3);
}

.list-programm__item-input:disabled + .list-programm__item-label::before {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .list-programm {
    height: 136px;
  }

  .list-programm__item {
    padding-left: 28px;
  }

  .list-programm__item-label {
    padding-left: 60px;

    @include font-group1($font-20, $line-30);
  }

  .list-programm__item-label::before {
    top: -5px;

    width: 41px;
    height: 40px;

    background-image: url("../img/tablet-form-radio.svg");
  }

  .list-programm__item-input:checked + .list-programm__item-label::before {
    left: -1px;

    background-image: url("../img/tablet-form-radio-active.svg");
  }

  .list-programm__item-input:hover + .list-other-goods__item-label::before {
    stroke: $radio-hover-color;
  }
}

@media (min-width: $desktop-width) {
  .list-programm__item {
    padding-left: 27px;
  }
}
