@media (min-width: $tablet-width) {
  .main-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}
