.main-nav {
  display: block;
}

.main-nav__list {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @include font-group4($font-20, $line-20, $family-full, $transform-up);
  text-align: center;
  color: $basic-black;
}

.main-nav__list-item {
  display: block;
  height: 66px;
  padding-top: 22px;
  padding-bottom: 22px;

  box-sizing: border-box;
  border-top: 1px solid $border-line-color;
}

.main-nav__list-item--index {
  border-bottom: 1px solid $border-line-color;
}

.main-nav__list-item-link {
  color: $basic-black;
}

.main-nav__list-item-link:hover {
  opacity: 0.6;
}

.main-nav__list-item-link:active {
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .main-nav--unvisible {
    display: none;
  }

  .main-nav--visible {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 440px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 439px;
    height: 32px;
    margin-top: 18px;

    @include font-group1($font-18, $line-24);
  }

  .main-nav__list-item {
    display: block;
    height: 32px;
    padding: 0;

    box-sizing: border-box;
    border-top: 0;
  }

  .main-nav__list-item--index {
    border-bottom: 0;
  }

  .main-nav__list-item--active {
    height: 34px;
    border-bottom: 2px solid $basic-color;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
    margin-top: 5px;
  }

  .main-nav__list {
    width: 478px;
    margin-top: 16px;

    @include font-group1($font-20, $line-26);
  }

  .main-nav__list--form,
  .main-nav__list--catalog {
    color: $basic-black;
  }

  .main-nav__list-item {
    display: block;
    height: 36px;
    padding: 0;

    box-sizing: border-box;
    border-top: 0;
  }

  .main-nav__list-item--active-index {
    border-bottom: 2px solid $basic-white;
  }

  .main-nav__list-item-link--index {
    color: $basic-white;
  }
}
