.main-nav__list {
  font-style: bold;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald";
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
}

.main-nav__list-item--link {
  color: $basic-black;
}

.main-nav__list-item--link:hover {
  opacity: 0.6;
}

.main-nav__list-item--link:active {
  opacity: 0.3;
}
