.main-nav {
  display: block;
  width: 100%;
}

.main-nav__list {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-style: bold;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
}

.main-nav__list-item {
  display: block;
  height: 66px;
  padding-top: 22px;

  box-sizing: border-box;
  border-top: 1px solid $border-line-color;
}

.main-nav__list-item:last-child {
  border-bottom: 1px solid $border-line-color;
}

.main-nav__list-item--link {
  color: $basic-black;
}

.main-nav__list-item--link:hover {
  opacity: 0.6;
}

.main-nav__list-item--link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 440px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;

    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: $basic-black;
  }

  .main-nav__list-item {
    display: block;
    height: 36px;
    padding: 0;

    box-sizing: border-box;
    border-top: 0;
  }

  .main-nav__list-item:last-child {
    border-bottom: 0;
  }

  .main-nav__list-item--active {
    border-bottom: 2px solid $basic-color;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: $basic-white;
  }

  .main-nav__list-item {
    display: block;
    height: 36px;
    padding: 0;

    box-sizing: border-box;
    border-top: 0;
  }

  .main-nav__list-item:last-child {
    border-bottom: 0;
  }

  .main-nav__list-item--active {
    border-bottom: 2px solid $basic-white;
  }

  .main-nav__list-item--link {
    color: $basic-white;
  }
}
