.page-features {
  padding-top: 27px;
}

.page-features__title {
  grid-column: span 4;
  margin-top: 0;
  margin-bottom: 40px;

  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  letter-spacing: -1px;
  color: $basic-black;
}

.page-features__list {
  grid-column: span 4;
  width: 100%;
  margin-top: 0;
  margin-bottom: 42px;
  padding: 0;
}

.page-feature__list-item {
  display: flex;
  margin-bottom: 20px;
}

.page-feature__list-item:last-child {
  margin-bottom: 0;
}

.page-features__separator {
  width: 0;
  height: 0;
}

@media (min-width: $tablet-width) {
  .page-features {
    padding-top: 45px;

    border-bottom: 1px solid $border-line-color;
  }

  .page-features__title {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
  }

  .page-features__list {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;

    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-features {
    min-height: 454px;
    padding-top: 71px;

    border-bottom: 0;
  }

  .page-features__title {
    margin-left: 0;
  }

  .page-features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }

  .page-feature__list-item {
    margin-bottom: 0;
    margin-right: 0;
  }

  .page-feature__list-item:first-child {
    margin-bottom: 0;
  }

  .page-feature__list-item:nth-child(2) {
    margin-right: 0;
  }

  .page-feature__list-item:nth-child(3) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .page-feature__list-item:nth-child(4) {
    margin-right: 0;
  }

  .page-features__separator {
    width: 0;
    height: 0;
  }
}
