.page-form {
  position: relative;
}

.page-form__wrapper-device {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;

  padding-top: 29px;
  padding-bottom: 32px;
}

.page-form-title {
  margin-top: 0;
  margin-bottom: 37px;

  @include font-group2($font-36, $line-36, $family-full, $spacing-1);
  color: $basic-black;
}

.page-form-text {
  margin: 0;

  @include font-group4($font-14, $line-18, $family-full, $transform-up);
  color: $basic-black;
}

.page-form__fieldsets-group {
  grid-column: span 2;
  margin-bottom: 27px;
}

.page-form__fieldset {
  grid-column: span 2;
  margin: 0;
  padding: 0;

  @include font-group3($font-24, $line-26, $family-full);
  color: $basic-black;

  border: 0;
}

.page-form__fieldset--border {
  padding-top: 23px;
  padding-bottom: 17px;

  border-top: 1px solid $separator-color;
  border-bottom: 1px solid $separator-color;
}

.page-form__fieldset-legend {
  margin-left: -20px;
  padding-left: 20px;

  @include font-group3($font-24, $line-26, $family-full);
  color: $basic-black;

  background-color: $basic-white;
}

.page-form__fieldset-legend--contacts {
  width: 221px;
}

.page-form__fieldset-legend--textarea {
  width: 162px;
}

.page-form__fieldset-legend--other-goods {
  width: 184px;
}

.page-form__fieldset-list {
  margin: 0;
  padding: 0;
}

.page-form__input,
.page-form__label {
  @include font-group4($font-16, $line-18, $family-full, $transform-up);
  color: $special-color;
}

.page-form__input:focus,
.page-form__fieldset-textarea:focus {
  border-color: $special-color;
}

.page-form__input:invalid {
  border-color: $error-color;
}

.page-form__fieldset-textarea {
  grid-column: span 2;
  width: 100%;
  height: 151px;
  margin-top: 38px;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-left: 15px;

  @include font-group4($font-16, $line-18, $family-full, $transform-up);
  color: $special-color;

  border: 1px solid $input-border-color;
  resize: none;
}

.page-form__button {
  align-items: center;

  grid-column: span 2;
  display: block;
  width: 280px;
  height: 40px;
  margin-bottom: 21px;

  @include font-group4($font-16, $line-20, $family-full, $transform-up);
  color: $basic-white;

  background-color: $basic-color;
}

.page-form__button:hover {
  background-color: $basic-darken-color;
}

.page-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-form__note {
  grid-column: span 2;

  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;

  @include font-group3($font-14, $line-16, $family-once);
  color: $basic-black;
}

.page-form__line {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 2px;

  background-color: $basic-color;
}

.page-form__line--contacts {
  top: 415px;
}

.page-form__line--textarea {
  top: 629px;
}

.page-form__line--other-goods {
  top: 866px;
}

@media (min-width: $tablet-width) {
  .page-form__wrapper-device {
    grid-column: span 4;

    padding-top: 56px;
    padding-right: 37px;
    padding-bottom: 72px;
    padding-left: 40px;
  }

  .page-form-title {
    margin-bottom: 55px;

    @include font-group2($font-60, $line-60, $family-full, $spacing-2);
  }

  .page-form-text {
    @include font-group1($font-20, $line-30);
  }

  .page-form__fieldsets-group {
    margin-bottom: 75px;
  }

  .page-form__fieldset--border {
    padding-top: 29px;
    padding-bottom: 29px;
    border: 1px solid $input-border-color;
  }

  .page-form__fieldset-legend {
    margin-left: -40px;
    padding-left: 40px;

    @include font-group1($font-36, $line-36);
  }

  .page-form__fieldset-legend--contacts {
    width: 592px;
  }

  .page-form__fieldset-legend--textarea {
    width: 259px;
  }

  .page-form__fieldset-legend--other-goods {
    width: 292px;
  }

  .page-form__input,
  .page-form__label {
    @include font-group1($font-20, $line-22);
  }

  .page-form__fieldset-textarea {
    height: 174px;
    margin-top: 76px;
    margin-bottom: 63px;
    padding-top: 10px;
    padding-left: 18px;

    @include font-group1($font-20, $line-30);
  }

  .page-form__button {
    grid-column: span 1;
    width: 282px;
    height: 52px;
    margin-bottom: 0;

    @include font-group1($font-20, $line-26);
  }

  .page-form__note {
    grid-column: span 1;
    text-align: left;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 0;

    font-size: 16px;
  }

  .page-form__line--contacts {
    top: 617px;
  }

  .page-form__line--textarea {
    top: 918px;
  }

  .page-form__line--other-goods {
    top: 1269px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__wrapper-device {
    padding-top: 57px;
    padding-right: 0;
    padding-bottom: 82px;
    padding-left: 0;
  }

  .page-form__fieldsets-group {
    display: flex;
    justify-content: space-between;

    margin-bottom: 69px;
  }

  .page-form__fieldset--border {
    width: 570px;
    height: 196px;
  }

  .page-form__fieldset-legend--contacts {
    width: 591px;
  }

  .page-form__fieldset-legend--textarea {
    width: 260px;
  }

  .page-form__fieldset-textarea {
    margin-bottom: 65px;
  }

  .page-form__button {
    width: 568px;
    height: 52px;
  }

  .page-form__note {
    margin-top: 18px;
    margin-left: 10px;
  }

  .page-form__line--contacts {
    top: 344px;
  }

  .page-form__line--textarea {
    top: 575px;
  }

  .page-form__line--other-goods {
    top: 929px;
  }
}
