@media (min-width: $tablet-width) {
  .page-title {
    margin-top: 64px;
    margin-bottom: 54px;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    margin-top: 74px;
    margin-bottom: 56px;
  }
}
