.page-example {
  position: relative;

  background-color: $exception-color;
}

.page-example__background {
  background-color: transparent;
}

.page-example__wrapper {
  margin: 0;
  padding-top: 27px;
}

.page-example__wrapper:last-of-type {
  padding-top: 42px;
}

.page-example__title {
  margin-top: 0;
  margin-bottom: 33px;

  @include font-group2($font-36, $line-40, $family-full, $spacing-1);
  color: $basic-black;
}

.page-example__text {
  width: 279px;
  margin-top: 0;
  margin-bottom: 25px;

  @include font-group3($font-14, $line-18, $family-once);
  color: $special-color;
}

.page-example__inner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 100%;
  margin-top: 0;
}

.page-example__list {
  display: flex;
  justify-content: space-between;

  width: auto;
  margin: 0;
  padding: 0;
}

.page-example__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
}

.page-example__conclude-wrapper {
  display: flex;
  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;

  @include font-group4($font-14, $line-20, $family-full, $transform-up);
  text-align: center;
  color: $basic-black;
}

.page-example__conclude-left,
.page-example__conclude-right {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-example {
    background: linear-gradient(to top, $exception-color 43%, $basic-white 43%, $basic-white 100%);
  }

  .page-example__wrapper-device {
    grid-column: span 4;
  }

  .page-example__wrapper:first-of-type {
    padding-top: 43px;
  }

  .page-example__wrapper:last-of-type {
    padding-top: 0;
  }

  .page-example__title {
    margin-bottom: 65px;

    @include font-group2($font-60, $line-60, $family-full, $spacing-2);
  }

  .page-example__text {
    min-width: 0;
    width: 700px;
    margin-bottom: 54px;

    @include font-group1($font-16, $line-24);
  }

  .page-example__inner-wrapper {
    flex-direction: row;
    text-align: center;

    margin-bottom: 63px;
  }

  .page-example__list {
    text-align: center;

    width: 366px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .page-example__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }

  .page-example__conclude-wrapper {
    flex-direction: column;
    justify-content: space-between;

    margin-top: 11px;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 13px;

    font-size: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .page-example {
    background: linear-gradient(to top, $light-lighten-color 70%, $basic-white 70%, $basic-white 100%);
    overflow: hidden;
  }

  .page-example__background {
    position: absolute;
    bottom: 0;

    display: block;
    width: 50%;
    height: 459px;

    background-color: $exception-color;
  }

  .page-example__wrapper-device {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    min-height: 656px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-example__wrapper:first-of-type {
    margin-top: 58px;
    padding-top: 0;
  }

  .page-example__wrapper:last-of-type {
    width: 650px;
  }

  .page-example__inner-wrapper {
    flex-direction: column;

    height: 152px;
    margin-bottom: 0;
  }

  .page-example__title {
    margin-bottom: 147px;
  }

  .page-example__text {
    width: 436px;
    margin-bottom: 69px;
  }

  .page-example__conclude-wrapper {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .page-example__conclude-left,
  .page-example__conclude-right {
    padding-bottom: 0;
  }

  .page-example__conclude-right {
    margin-right: 110px;
  }
}
