.page-form-titles-wrapper-device {
  position: relative;

  display: block;
  padding-top: 26px;
  padding-bottom: 10px;

  border-top: 1px solid $border-line-color;
}

@media (min-width: $tablet-width) {
  .page-form-titles-wrapper-device {
    grid-column: span 4;

    padding-top: 62px;
    padding-left: 40px;

    border-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-form-titles-wrapper-device {
    padding-top: 75px;
    padding-left: 0;
  }
}
