.page-advantages {
  position: relative;

  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 22px;
}

.page-advantages__wrapper-device {
  position: relative;

  display: block;
  padding-top: 0;
}

.page-advantages__item {
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: $light-lighten-color;
}

.page-advantages__item:first-of-type {
  margin-bottom: 20px;
}

.page-advantages__item-wrapper-first,
.page-advantages__item-wrapper-last {
  position: relative;

  display: flex;
  align-items: center;
}

.page-advantages__item-wrapper-last {
  height: 53px;
  margin-left: -7px;
}

.page-advantages__item-image--first {
  width: 50px;
  height: 53px;
  margin-right: 20px;
  margin-left: 2px;
  align-items: flex-start;
}

.page-advantages__item-image--last {
  margin-right: 12px;
  align-items: flex-start;
}

.page-advantages__item-title {
  min-width: 110px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;

  @include font-group2($font-24, $line-37, $family-full, $spacing-1);
  text-transform: uppercase;
  color: $basic-black;
}

.page-advantages__item-text {
  width: 227px;
  margin-top: 21px;
  margin-bottom: 22px;

  @include font-group3($font-14, $line-18, $family-once);
  color: $special-color;
}

.page-advantages__item-text--last {
  margin-bottom: 21px;
}

.page-advantages__item-separator {
  width: 240px;
  height: 1px;
  margin-bottom: 19px;

  background-color: $separator-color;
}

.page-advantages__item-link {
  @include font-group4($font-16, $line-16, $family-full, $transform-up);
  color: $basic-black;
}

.page-advantages__item-link-text {
  margin-right: 13px;
}

.page-advantages__item-link-svg {
  display: inline-block;
  width: 24px;
  height: 12px;

  background-image: url("../img/promo-arrow.svg");
}

@media (min-width: $tablet-width) {
  .page-advantages {
    padding-top: 0;
  }

  .page-advantages__wrapper-device {
    grid-column: span 4;
  }

  .page-advantages__item {
    padding-top: 77px;
    padding-bottom: 61px;
    padding-left: 52px;
  }

  .page-advantages__item:first-of-type {
    margin-bottom: 30px;
  }

  .page-advantages__item-wrapper-last {
    height: auto;
    margin-left: 0;
  }

  .page-advantages__item-image {
    position: absolute;
  }

  .page-advantages__item-image--first {
    top: 3px;
    right: 62px;

    width: 200px;
    height: 211px;
    margin-right: 0;
  }

  .page-advantages__item-image--last {
    top: 14px;
    right: 28px;

    width: 269px;
    height: 201px;
    margin-right: 0;
  }

  .page-advantages__item-title {
    min-width: 206px;
    margin-right: 0;

    @include font-group1($font-36, $line-36);
  }

  .page-advantages__item-text {
    width: 377px;
    margin-top: 25px;
    margin-bottom: 57px;

    @include font-group1($font-16, $line-24);
  }

  .page-advantages__item-text--last {
    width: 342px;
    margin-right: 19px;
  }

  .page-advantages__item-separator {
    width: 0;
    height: 0;
    margin-left: 0;
    margin-bottom: 0;

    background-color: transparent;
  }

  .page-advantages__item-link {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    @include font-group1($font-20, $line-20);
  }

  .page-advantages__item-link-text {
    margin-right: 26px;
  }

  .page-advantages__item-link:hover {
    .page-advantages__item-link-svg {
      width: 32px;

      background-image: url("../img/promo-arrow-hover.svg");
    }
  }

  .page-advantages__item-link:active {
    .page-advantages__item-link-svg {
      opacity: 0.3;
    }
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .page-advantages {
    padding-top: 82px;
  }

  .page-advantages__wrapper-device {
    grid-column: span 2 2;
    display: flex;
    justify-content: space-between;
  }

  .page-advantages__item {
    width: 570px;
    padding-bottom: 64px;
  }

  .page-advantages__item:first-of-type {
    margin-bottom: 0;
    padding-top: 0;
  }

  .page-advantages__item:last-of-type {
    padding-top: 0;
  }

  .page-advantages__item-wrapper-first {
    display: flex;
    align-items: center;
    margin-top: 41px;
    margin-left: 5px;
  }

  .page-advantages__item-wrapper-last {
    display: flex;
    align-items: center;
    margin-top: 46px;
    margin-left: -20px;
  }

  .page-advantages__item-image {
    position: relative;
  }

  .page-advantages__item-image--first {
    top: 0;
    right: 0;

    width: 100px;
    height: 106px;
    margin-right: 62px;
    margin-left: -5px;
  }

  .page-advantages__item-image--last {
    top: 0;
    right: 0;

    width: 134px;
    height: 100px;
    margin-right: 47px;
  }

  .page-advantages__item-text {
    width: 467px;
    margin-top: 40px;
    margin-right: 51px;
    margin-bottom: 31px;
  }

  .page-advantages__item-text--last {
    margin-top: 41px;
  }

  .page-advantages__item-separator {
    width: 0;
    height: 0;
    margin-left: 0;
    margin-bottom: 0;

    background-color: transparent;
  }

  .page-advantages__item-link {
    margin-bottom: 0;
  }

  .page-advantages__item-link-text {
    margin-right: 27px;
  }
}
