.page-footer {
  width: auto;
  text-align: center;

  background-color: $light-lighten-color;
}

.page-footer__logo,
.page-footer__social-media {
  border-bottom: 1px solid $separator-color;
}

.page-footer__logo {
  height: 95px;
  padding-top: 38px;
}

.page-footer__social-media {
  height: 63px;
}

.page-footer__logo-link--svg:hover {
  fill-opacity: 0.8;
}

.page-footer__logo-link--svg:active {
  fill-opacity: 0.6;
}

.social-media-list__item-link--icon-vk:hover,
.social-media-list__item-link--icon-insta:hover {
  fill: $basic-color;
}

.social-media-list__item-link--icon-vk:active,
.social-media-list__item-link--icon-insta:active {
  fill-opacity: 0.3;
}

.social-media-list__item-link--icon-fb:hover {
  stroke: $basic-color;
}

.social-media-list__item-link--icon-fb:active {
  stroke-opacity: 0.3;
}

.page-footer__copyright {
  height: 78px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;

  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

.page-footer__copyright-link--svg-fill {
  margin-top: 3px;
  fill-opacity: 1;
}

.page-footer__copyright-link:active {
  color: rgba(68, 68, 68, 0.3);
}

.page-footer__copyright-link--svg:hover {
  fill: $basic-color;
}

.page-footer__copyright-link--svg:active {
  fill-opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper-device {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  .page-footer__logo,
  .page-footer__social-media {
    height: auto;
    padding: 0;

    border-bottom: 0;
  }

  .page-footer__copyright {
    height: auto;
    margin-top: -6px;
  }

  .page-footer__copyright-link {
    width: 163px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin-top: 2px;
  }

  .page-footer__copyright-link {
    margin-top: 4px;
  }

  .page-footer__copyright-link--svg-fill {
    margin-top: 9px;
  }
}
