.page-contacts {
  position: relative;
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  outline: 3px solid red;
}

.page-contacts--form {
  background-color: $light-lighten-color;
}

.page-contacts__map {
  width: 280px;
  height: 362px;
  background-image: url("../img/mobile-map.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-contacts {
    width: 708px;
  }

  .page-contacts__map {
    width: 708px;
    height: 400px;
    background-image: url("../img/tablet-map.jpg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .page-contacts {
    width: 1220px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-contacts__map {
    width: 1220px;
    height: 400px;
    background-image: url("../img/desktop-map.jpg");
    background-repeat: no-repeat;
  }
}
