.page-promo {
  position: relative;
  display: block;
  height: auto;
  margin-bottom: 0;
}

.page-promo__background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 302px;

  background-image: url("../img/mobile-promo-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.page-promo__wrapper-device {
  position: relative;
  grid-column: span 4;
}

.page-promo__titles {
  position: relative;
  z-index: 1;

  width: 100%;
  min-height: 302px;
  margin-bottom: 137px;
  padding-top: 27px;
}

.page-promo__title {
  width: 249px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;

  font-style: bold;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-align: center;
  color: $basic-white;
}

.page-promo__text,
.page-promo__link {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
}

.page-promo__link {
  display: block;
  width: auto;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 11px;
  padding-bottom: 12px;

  line-height: 18px;

  background-color: $basic-color;
}

.page-promo__link:hover {
  background-color: $basic-darken-color;
}

.page-promo__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-promo__image {
  position: absolute;
  top: 167px;
  left: 50%;
  z-index: 0;

  width: 280px;
  height: 270px;

  background-image: url("../img/mobile-promo-content.png");
  background-repeat: no-repeat;
  transform: translate(-50%, 0);
}

@media (min-width: $tablet-width) {
  .page-promo {
    min-height: 872px;
  }

  .page-promo__background {
    display: none;
  }

  .page-promo__titles {
    min-height: 175px;
    margin-bottom: 49px;
    padding-top: 62px;

    background-image: none;
  }

  .page-promo__title {
    z-index: 2;

    width: 414px;
    margin-bottom: 41px;
    margin-left: 87px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $basic-black;
  }

  .page-promo__text {
    z-index: 2;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 88px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $basic-black;
  }

  .page-promo__link {
    width: 244px;
    height: 54px;
    margin-left: 82px;
    padding-top: 17px;
    padding-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .page-promo__image {
    z-index: -1;
    top: 263px;
    left: 1;

    width: 709px;
    height: 609px;

    background-image: url("../img/tablet-promo-content.jpg");
    transform: translate(-1, 0);
  }
}

@media (min-width: $desktop-width) {
  .page-promo {
    min-height: 582px;
  }

  .page-promo__background {
    top: -112px;
    left: 50%;
    z-index: -2;

    display: block;
    width: 720px;
    height: 694px;
    background-image: url("../img/desktop-promo-background.jpg");
    background-repeat: no-repeat;
  }

  .page-promo__titles {
    margin-bottom: 52px;
    padding-top: 111px;
  }

  .page-promo__title {
    width: 414px;
    margin-bottom: 40px;
    margin-left: 80px;
  }

  .page-promo__text {
    margin-top: 0;
    margin-left: 80px;
  }

  .page-promo__link {
    margin-left: 80px;
    padding-top: 18px;
  }

  .page-promo__image {
    top: 29px;
    left: 448px;

    width: 552px;
    height: 499px;

    background-image: url("../img/desktop-promo-content.png");
    transform: translate(0, 0);
  }
}
