.page-advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  min-height: 552px;

  margin-top: 22px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  outline: 3px solid orange;
}

.page-advantages__item {
  min-height: 266px;

  background-color: $light-lighten-color;
}

.page-advantages__item-wrapper-first {
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 21px;
  margin-left: 22px;
}

.page-advantages__item-wrapper-last {
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 13px;
}

.page-advantages__item-image--first {
  margin-right: 19px;
}

.page-advantages__item-image--last {
  margin-right: 13px;
}

.page-advantages__item-title {
  min-width: 137px;
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: $basic-black;
}

.page-advantages__item-text {
  width: 227px;
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 23px;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

.page-advantages__item-separator {
  width: 240px;
  height: 1px;
  margin-left: 20px;
  margin-bottom: 15px;

  background-color: $advantages-separator-color;
}

.page-advantages__item-link {
  width: 134px;
  margin-left: 19px;

  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: $basic-black;
}

.page-advantages__item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tablet-width) {
  .page-advantages {
    width: 708px;
    min-height: 774px;

    margin-top: 0;
  }

  .page-advantages__item {
    min-height: 372px;
  }

  .page-advantages__item-image {
    position: absolute;
  }

  .page-advantages__item-image--first {
    top: 0;
    right: 62px;

    width: 200px;
    height: 211px;
    margin-right: 0;
  }

  .page-advantages__item-image--last {
    top: 0;
    right: 28px;

    width: 268px;
    height: 200px;
    margin-right: 0;
  }

  .page-advantages__item-wrapper-first {
    margin-top: 80px;
    margin-left: 53px;
  }

  .page-advantages__item-wrapper-last {
    margin-top: 82px;
    margin-left: 53px;
  }

  .page-advantages__item-title {
    min-width: 206px;
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: $basic-black;
  }

  .page-advantages__item-text {
    width: 377px;
    margin-left: 53px;
    margin-top: 24px;
    margin-bottom: 54px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: $special-color;
  }

  .page-advantages__item-text--last {
    width: 342px;
  }

  .page-advantages__item-separator {
    width: 0;
    height: 0;
    margin-left: 0;
    margin-bottom: 0;

    background-color: transparent;
  }

  .page-advantages__item-link {
    width: 161px;
    height: 38px;
    margin-left: 52px;

    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: $basic-black;
  }
}

@media (min-width: $desktop-width) {
  .page-advantages {
    flex-direction: row;
    width: auto;
    min-height: 374px;

    margin-top: 82px;
  }

  .page-advantages__item {
    width: 570px;
    min-height: 374px;
  }

  .page-advantages__item-image {
    position: relative;
  }

  .page-advantages__item-image--first {
    right: 0;

    width: 100px;
    height: 106px;
    margin-right: 62px;
  }

  .page-advantages__item-image--last {
    right: 0;

    width: 134px;
    height: 100px;
    margin-right: 47px;
  }

  .page-advantages__item-wrapper-first {
    margin-top: 41px;
    margin-left: 52px;
  }

  .page-advantages__item-wrapper-last {
    margin-top: 47px;
    margin-left: 33px;
  }

  .page-advantages__item-title {
    min-width: 164px;
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: $basic-black;
  }

  .page-advantages__item-text {
    width: 467px;
    margin-left: 53px;
    margin-top: 24px;
    margin-bottom: 25px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: $special-color;
  }

  .page-advantages__item-text--last {
    width: 457px;
  }

  .page-advantages__item-separator {
    width: 0;
    height: 0;
    margin-left: 0;
    margin-bottom: 0;

    background-color: transparent;
  }

  .page-advantages__item-link {
    width: 161px;
    height: 38px;
    margin-left: 52px;

    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: $basic-black;
  }
}
