.page-example {
  background-color: $exception-color;
}

.page-example__wrapper {
  margin: 0;
  padding-top: 27px;
}

.page-example__title {
  margin-top: 0;
  margin-bottom: 34px;

  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  letter-spacing: -1px;
  color: $basic-black;
}

.page-example__text {
  width: 279px;
  margin-top: 0;
  margin-bottom: 25px;

  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

.page-example__inner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 100%;
  margin-top: 0;
}

.page-example__list {
  display: flex;
  justify-content: space-between;

  width: auto;
  margin: 0;
  padding: 0;
}

.page-example__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
}

.page-example__conclude-wrapper {
  display: flex;
  width: 188px;
  margin-top: 33px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;

  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
}

.page-example__conclude-left,
.page-example__conclude-right {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-example {
    background: linear-gradient(to top, $exception-color 43%, $basic-white 43%, $basic-white 100%);
  }

  .page-example__wrapper-device {
    grid-column: span 4;
  }

  .page-example__wrapper {
    padding-top: 0;
  }

  .page-example__wrapper:first-of-type {
    padding-top: 43px;
  }

  .page-example__title {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  .page-example__text {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  .page-example__inner-wrapper {
    flex-direction: row;
    text-align: center;

    margin-bottom: 59px;
  }

  .page-example__list {
    text-align: center;

    width: 366px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .page-example__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }

  .page-example__conclude-wrapper {
    flex-direction: column;

    width: 174px;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .page-example {
    background: linear-gradient(to top, $light-lighten-color 70%, $basic-white 70%, $basic-white 100%);
  }

  .page-example__wrapper-device {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    min-height: 656px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-example__wrapper:first-of-type {
    margin-top: 58px;
    padding-top: 0;
  }

  .page-example__wrapper:last-of-type {
    width: 650px;
  }

  .page-example__inner-wrapper {
    flex-direction: column;

    height: 152px;
    margin-bottom: 0;
  }

  .page-example__title {
    margin-bottom: 146px;
  }

  .page-example__text {
    width: 436px;
    margin-bottom: 69px;
  }

  .page-example__conclude-wrapper {
    flex-direction: row;
    justify-content: space-between;

    width: 327px;
    margin-top: 0;

    text-align: left;
  }
}
