.page-contacts {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.page-contacts--form,
.page-contacts--catalog {
  background-color: $light-lighten-color;
}

.page-contacts__map {
  width: auto;
  height: 362px;
  margin-right: auto;
  margin-left: auto;

  background-image: url("../img/mobile-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile-map@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-contacts__wrapper-device {
    grid-column: span 4;
    height: 200px;
  }

  .page-contacts__map {
    height: 400px;

    background-image: url("../img/tablet-map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet-map@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-contacts {
    height: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-contacts__wrapper-device {
    position: relative;
    height: 0;
  }

  .page-contacts__map {
    height: 400px;
    margin-right: 0;
    margin-left: 0;

    background-image: url("../img/desktop-map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop-map@2x.jpg");
    }
  }
}
