.page-footer__copyright {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

.page-footer__copyright-link {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}

