.page-promo {
  position: relative;
  display: block;
  height: auto;
  margin-bottom: 0;

  outline: 3px solid indigo;
}

.page-promo__titles {
  position: relative;

  width: 100%;
  min-height: 320px;
  padding-top: 27px;

  background-image: url("../img/mobile-promo-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.page-promo__title {
  width: 249px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-style: bold;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-align: center;
  color: $basic-white;
}

.page-promo__text,
.page-promo__link {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
}

.page-promo__text {
  margin-top: 25px;
  margin-bottom: 0;
}

.page-promo__link {
  display: block;
  width: 280px;
  height: 40px;
  margin-top: 138px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 14px;

  line-height: 18px;

  background-color: $basic-color;
}

.page-promo__link:hover {
  background-color: $basic-darken-color;
}

.page-promo__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-promo__image {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .page-promo {
    min-height: 872px;
  }

  .page-promo__titles {
    width: 100%;
    min-height: 175px;
    padding-top: 60px;

    background-image: none;
  }

  .page-promo__title {
    z-index: 2;
    width: 414px;
    margin-left: 87px;

    font-style: bold;
    font-size: 60px;
    line-height: 60px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-align: left;
    color: $basic-black;
  }

  .page-promo__text {
    z-index: 2;

    margin-top: 29px;
    margin-left: 88px;

    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    color: $basic-black;
  }

  .page-promo__link {
    z-index: 2;
    display: block;
    width: 244px;
    height: 54px;
    margin-top: 49px;
    margin-left: 83px;
    padding-top: 19px;
    padding-bottom: 19px;

    line-height: 18px;
    text-align: center;

    background-color: $basic-color;
  }

  .page-promo__image {
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 0;
    right: 0;

    width: 709px;
    height: 609px;
    margin-left: auto;

    transform: translateX(0);
  }
}

@media (min-width: $desktop-width) {
  .page-promo {
    min-height: 582px;
  }

  .page-promo__titles {
    width: 100%;
    min-height: 175px;
    padding-top: 116px;

    background-image: none;
  }

  .page-promo__title {
    z-index: 2;
    width: 414px;
    margin-left: 87px;

    font-style: bold;
    font-size: 60px;
    line-height: 60px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-align: left;
    color: $basic-black;
  }

  .page-promo__text {
    z-index: 2;

    margin-top: 29px;
    margin-left: 88px;

    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    color: $basic-black;
  }

  .page-promo__link {
    z-index: 2;
    display: block;
    width: 244px;
    height: 54px;
    margin-top: 49px;
    margin-left: 82px;
    padding-top: 19px;
    padding-bottom: 19px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;

    background-color: $basic-color;
  }

  .page-promo__image {
    position: absolute;
    z-index: -1;
    top: 29px;
    left: 0;
    right: 330px;

    width: 552px;
    height: 499px;
    margin-left: auto;

    transform: translateX(0);
  }
}

@media (min-width: $desktop-width) {
  .page-promo__desktop-background {
    position: absolute;
    z-index: -2;
    top: -82px;
    right: -65px;

    width: 720px;
    height: 694px;
    background-image: url("../img/desktop-promo-background.jpg");
    background-repeat: no-repeat;
  }
}
