.page-features__title {
  font-style: bold;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald";
  color: $basic-black;
}

.feature-item__text {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}
