.product-button {
  width: 100%;
  height: 40px;
  margin-bottom: 25px;

  @include font-group4($font-16, $line-20, $family-full, $transform-up);
  color: $basic-white;

  background-color: $basic-color;
}

.product-button:hover {
  background-color: $basic-darken-color;
}

.product-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-button-all {
  width: 100%;
  height: 40px;

  @include font-group4($font-16, $line-20, $family-full, $transform-up);
  color: $special-color;

  background-color: $light-lighten-color;
}

.product-button-all:hover {
  background-color: $light-color;
}

.product-button-all:active {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .product-button {
    width: 248px;
    height: 39px;
    margin-left: 39px;
    margin-bottom: 0;
  }

  .product-button-all {
    width: 249px;
    margin-left: 37px;
  }
}

@media (min-width: $desktop-width) {
  .product-button {
    width: 168px;
  }

  .product-button-all {
    width: 168px;
  }
}
