.second-list__item-title {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  color: $special-darken-color;
}

.second-list__item-text {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  color: $special-color;
}
