.slider-block {
  position: relative;
  z-index: 2;

  width: 100%;
}

.slider-block__slider {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}

.slider-block__before {
  position: relative;
}

.slider-block__after {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;

  display: none;

  transform: translate(-50%, 0);
}

.slider-block__before,
.slider-block__after {
  width: 100%;
  height: 255px;
  margin-right: auto;
  margin-left: auto;
}

.slider-block__before img,
.slider-block__after img {
  width: 100%;
  object-fit: contain;
}

.slider-block__slider-before,
.slider-block__slider-after {

  width: 38px;
  height: 32px;
  padding-top: 8px;

  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: $basic-black;

  border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
}

.slider-block__slider-before:hover,
.slider-block__slider-after:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.slider-block__slider-before:active,
.slider-block__slider-after:active {
  border-bottom: 0;
}

.slider-block__toggle {
  position: relative;

  width: 84px;
  height: 14px;
  margin-top: 11px;

  background-color: $basic-white;
  border: 1px solid $light-darken-color;
  border-radius: 5px;
}

.slider-block__separator {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;

  background-color: $basic-color;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .slider-block {
    width: 100%;
    min-height: 620px;
  }

  .slider-block__slider {
    align-items: center;
    width: 590px;
    margin-bottom: 64px;
  }

  .slider-block__before {
    height: 550px;
  }

  .slider-block__after {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(0, 0);
  }

  .slider-block__toggle {
    width: 428px;
    height: 6px;
    margin: 0;

    background-color: $slider-scale-color;
    border-color: $slider-scale-color;
  }

  .slider-block__separator {
    top: -2px;
    left: 213px;

    width: 8px;
    height: 8px;

    background-color: $basic-color;
    border-radius: 8px;
  }

  .slider-block__separator-border-1 {
    position: absolute;
    top: -14px;
    left: 200px;

    width: 34px;
    height: 34px;

    background-color: $light-darken-color;
    border-radius: 34px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  }

  .slider-block__separator-border-1:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }

  .slider-block__separator-border-1:active {
    background-color: $basic-color;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .slider-block__separator-border-2 {
    position: absolute;
    top: -13px;
    left: 201px;

    width: 32px;
    height: 32px;

    background-color: $basic-white;
    border-radius: 32px;
  }
}

@media (min-width: $desktop-width) {
  .slider-block__slider {
    margin-right: 0;
  }

  .slider-block__before {
    height: 536px;
  }
}
