.social-media-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-right: 77px;
  padding-left: 73px;
}

.social-media-list__item-link--icon-vk:hover,
.social-media-list__item-link--icon-insta:hover {
  fill: $basic-color;
}

.social-media-list__item-link--icon-vk:active,
.social-media-list__item-link--icon-insta:active {
  fill-opacity: 0.3;
}

.social-media-list__item-link--icon-fb:hover {
  stroke: $basic-color;
}

.social-media-list__item-link--icon-fb:active {
  stroke-opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-media-list {
    align-items: center;

    width: 129px;
    height: 33px;
    margin-top: -3px;
    padding: 0;
  }

  .social-media-list__item-link--icon-vk {
    width: 30px;
    height: 22px;
  }

  .social-media-list__item-link--icon-insta {
    width: 23px;
    height: 23px;
  }

  .social-media-list__item-link--icon-fb {
    width: 28px;
    height: 33px;
  }
}

@media (min-width: $desktop-width) {
  .social-media-list {
    width: 130px;
    margin-top: 0;
  }

  .social-media-list__item-link--icon-insta {
    margin-left: 6px;
  }
}
