.wrapper {
  position: relative;

  padding-right: auto;
  padding-left: auto;
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: 1440px;
    padding-right: 0;
    padding-left: 0;
  }
}
