.wrapper {
  position: relative;

  width: 320px;
  /*padding-right: 10px;
  padding-left: 10px;*/
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: 1440px;
    padding-right: 0;
    padding-left: 0;
  }
}
