*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.page-form__fieldset-list,
.page-footer__social-media-list,
.main-nav__list,
.main-catalog__list,
.additional-catalog__list,
.page-features__list,
.page-example__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
button:active,
input {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
