$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$basic-color: #68b738;
$basic-darken-color: #5eaa2f;
$light-color: #ebebeb;
$light-lighten-color: #f2f2f2;
$light-darken-color: #cdcdcd;
$special-color: #444444;
$special-lighten-color: #666666;
$special-darken-color: #222222;
$error-color: #ff8282;
