$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$basic-color: #68b738;
$basic-darken-color: #5eaa2f;
$light-color: #ebebeb;
$light-lighten-color: #f2f2f2;
$light-darken-color: #cdcdcd;
$special-color: #444444;
$special-lighten-color: #666666;
$special-darken-color: #222222;
$error-color: #ff8282;
$exception-color: #eaeaea;
$border-line-color: #e6e6e6;
$separator-color: #d9d9d9;
$input-border-color: #e7e7e7;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$slider-scale-color: #dcdcdc;
$radio-hover-color: #bababa;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-30: 30px;
$font-36: 36px;
$font-60: 60px;
$line-12: 12px;
$line-14: 14px;
$line-16: 16px;
$line-18: 18px;
$line-20: 20px;
$line-22: 22px;
$line-24: 24px;
$line-26: 26px;
$line-30: 30px;
$line-34: 34px;
$line-36: 36px;
$line-37: 37px;
$line-40: 40px;
$line-60: 60px;
$family-full: "Oswald", "Arial", sans-serif;
$family-once: "Arial", sans-serif;
$spacing-1: -1px;
$spacing-2: -2px;
$transform-up: uppercase;
$transform-low: lowercase;
